<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>log/trace.log</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
   
  <logger name="ca.bc.gov.ols" level="DEBUG"/>
   
  <logger name="ca.bc.gov.ols.geocoder.parser" level="TRACE" additivity="false">
    <appender-ref ref="FILE" />
  </logger>  
  
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>